.Header{
    display: flex;
    align-items: center;
    background: #3f5d9a;
    height: 40px;
    overflow: hidden;
    padding: 20px 0;
}
.header-logo{
    height: 78px;
    object-fit: cover;
    margin: 0 20px;
}
.header-button{
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
    background-color: #42b73a;
    border: none;
    padding: 10px 20px;
    position: relative;
    float: left;
    display: flex;
    outline: none;
    cursor: pointer;
}
.header-button:hover{
    background-color: #32971e;
    transition: .2s;
}